<h1>Hire developers</h1>
<div mat-dialog-content>

  <mat-list>

    <form [formGroup]="hiringForm">

        <mat-list-item>

        <mat-chip-list #chipList aria-label="Developers selection">
          <mat-chip
            *ngFor="let developer of data.developers">
            {{developer.name}}
          </mat-chip>
        </mat-chip-list>

      </mat-list-item>

      <p>Enter a start - end range</p>

      <mat-list-item>

        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="startDate" placeholder="Start date">
          <input matEndDate formControlName="endDate" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      
      </mat-list-item>

      <mat-error *ngIf="previousDate()">You cant hire for past periods of time </mat-error>

      <mat-error *ngIf="busyDevsNames.length > 0">

        <span *ngFor="let dev of busyDevsNames; let i = index">
          {{ dev }}<span *ngIf="busyDevsNames.length > 2 && i < busyDevsNames.length - 2">, </span>
          <span *ngIf="busyDevsNames.length > 1 && i == busyDevsNames.length - 2"> and </span>
        </span>

        <span *ngIf="busyDevsNames.length > 1"> are </span>
        <span *ngIf="busyDevsNames.length == 1"> is </span>

        already hired during this period

      </mat-error>

    </form>

  </mat-list>
    
  <div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Cancel</button>
    <button mat-button (click)="confirmHire()" 
      [disabled]="hiringForm.invalid">
      Confirm
    </button>
  </div>
 
</div>