<mat-list>

  <mat-list-item *ngFor="let developer of developerList"> 

    <span> {{ developer.name }} </span>

    <div class="action-buttons">

      <button 
        mat-icon-button class="preview-button" aria-label="Preview"
        (click)="previewDeveloper(developer)">
        <mat-icon>visibility</mat-icon>
      </button>

      <button mat-icon-button class="edit-button" aria-label="Edit">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button class="edit-button" aria-label="Delete">
        <mat-icon>delete</mat-icon>
      </button>

    </div>

  </mat-list-item>

</mat-list>
