@import "~@angular/material/prebuilt-themes/indigo-pink.css"

.toolbar-buttons
  margin-left: auto

.toolbar-container
  width: 100%
  max-width: 992px
  margin: auto
  display: flex

#container
  width: 100%
  max-width: 992px
  margin: auto
  padding: 1rem

.pfp
  width: 40px
  height: 40px
  border-radius: 50%
  margin-right: 1rem

mat-checkbox
  margin-right: 1rem

.action-buttons
  margin-left: auto
  min-width: 150px

  button
    margin: 4px

@media screen and (max-width: 768px)
  .pfp
    display: none