
    <mat-toolbar>
      
      <span>Prime Hiring</span>
      <span class="example-spacer"></span>

      <div class="toolbar-buttons">

        <button 
          mat-button aria-label="Hire developers" 
          (click)="hireDevelopers()" *ngIf="hiringMode == false">
          <mat-icon>work</mat-icon> Hire
        </button>

        <button 
          color="primary" mat-flat-button aria-label="Hire developers" 
          (click)="confirmHiring()" *ngIf="hiringMode == true">
          <mat-icon>work</mat-icon> Confirm hiring
        </button>

        <button mat-button aria-label="Add a developer" (click)="addDeveloper()">
          <mat-icon>add</mat-icon> Add a developer
        </button>

      </div>
    </mat-toolbar>


    <div id="container">
      
      <mat-list>

        <mat-list-item *ngFor="let developer of developerList"> 

          <mat-checkbox [style.opacity]="hiringMode ? '1' : '0'"
            (click)="checkHiring(developer)"></mat-checkbox>
      
          <span> {{ developer.name }} </span>
      
          <div class="action-buttons">
      
            <button 
              mat-icon-button class="preview-button" aria-label="Preview"
              (click)="previewDeveloper(developer)">
              <mat-icon>visibility</mat-icon>
            </button>
      
            <button 
              mat-icon-button class="edit-button" aria-label="Edit"
              (click)="editDeveloper(developer)">
              <mat-icon>edit</mat-icon>
            </button>
      
            <button 
            mat-icon-button class="delete-button" aria-label="Delete"
            (click)="deleteDeveloper(developer)">
              <mat-icon>delete</mat-icon>
            </button>
      
          </div>
      
        </mat-list-item>
      
      </mat-list>      

    </div>
