<div mat-dialog-content>

  <mat-list *ngIf="data.mode == 'view'">

    <mat-list-item class="name-and-contacts">

      <img class="pfp" 
        [src]="data.developer.pfp != '' ? data.developer.pfp : '../../../assets/no-pfp.png'" 
        onerror="this.src='../../../assets/no-pfp.png'">
      
      <div class="info">
        <p>{{ data.developer.name }}</p>
        <p>
          {{ data.developer.email }}
        </p>
      </div>

    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item> 

      <mat-icon aria-hidden="false" aria-label="Location">location_on</mat-icon>

      <span class="value"> {{ data.developer.location }} </span>
      
    </mat-list-item>

    <mat-list-item>
      <mat-icon aria-hidden="false" aria-label="Phone">phone</mat-icon>

      <span class="value"> {{ data.developer.phone }} </span>
    </mat-list-item>

    <mat-list-item> 

      <mat-icon aria-hidden="false" aria-label="Price">attach_money</mat-icon>

      <span class="value"> ${{ data.developer.price }}/h</span>
      
    </mat-list-item>

    <mat-list-item> 

      <mat-icon aria-hidden="false" aria-label="Technology">code</mat-icon>

      <span class="value"> {{ technologies[data.developer.technology] }} </span>
      
    </mat-list-item>

    <mat-list-item> 

      <mat-icon aria-hidden="false" aria-label="Native language">language</mat-icon>

      <span class="value"> {{ languages[data.developer.native_lang] }} </span>
      
    </mat-list-item>

    <mat-list-item> 

      <mat-icon aria-hidden="false" aria-label="Years">timeline</mat-icon>

      <span class="value"> {{ data.developer.years }} years of experience </span>
      
    </mat-list-item>

    <mat-list-item *ngIf="data.developer.description"> 

      <mat-icon aria-hidden="false" aria-label="Description">description</mat-icon>

      <span class="value"> {{ data.developer.description }} </span>
      
    </mat-list-item>

    <mat-list-item *ngIf="data.developer.linkedIn"> 

      <mat-icon aria-hidden="false" aria-label="LinkedIn">link</mat-icon>

      <span class="value"> <a [href]="data.developer.linkedIn" tabindex="-1">{{ data.developer.linkedIn }}</a> </span>
      
    </mat-list-item>

  </mat-list>

  <mat-list *ngIf="data.mode == 'edit' || data.mode == 'add'">

    <form [formGroup]="developerForm">

      <mat-list-item class="pfp-preview">
        <img class="pfp" 
          [src]="developerForm.controls.pfp.value != '' ? developerForm.controls.pfp.value : '../../../assets/no-pfp.png'"
          onerror="this.src='../../../assets/no-pfp.png'">
      </mat-list-item>
        
      <mat-list-item>

        <mat-form-field appearance="fill">
          <mat-label>Profile picture</mat-label>

          <input matInput formControlName="pfp" required>
          <mat-error *ngIf="developerForm.controls.pfp.invalid">{{getErrorMessage("pfp")}}</mat-error>
        </mat-form-field>

      </mat-list-item>

      <mat-list-item>

        <mat-form-field appearance="fill">
          <mat-label>Full name</mat-label>
          <input matInput formControlName="name" required>
          <mat-error *ngIf="developerForm.controls.name.invalid">{{getErrorMessage("name")}}</mat-error>
        </mat-form-field>

      </mat-list-item>
      
      <mat-list-item>
        
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required>
          <mat-error *ngIf="developerForm.controls.email.invalid">{{getErrorMessage("email")}}</mat-error>
        </mat-form-field>

      
      </mat-list-item>
      
      <mat-list-item>

        <mat-form-field appearance="fill">
          <mat-label>Location</mat-label>
          <input matInput formControlName="location" required>
          <mat-error *ngIf="developerForm.controls.location.invalid">{{getErrorMessage("location")}}</mat-error>
        </mat-form-field>

      </mat-list-item>
        
      <mat-list-item>

        <mat-form-field appearance="fill">
          <mat-label>Phone number</mat-label>
          <input matInput formControlName="phone" required>
          <mat-error *ngIf="developerForm.controls.phone.invalid">{{getErrorMessage("phone")}}</mat-error>
        </mat-form-field>
        
      </mat-list-item>
        
      <mat-list-item>

        <mat-form-field appearance="fill">
          <mat-label>Price per hour</mat-label>
          <input matInput formControlName="price" required>
          <span matPrefix>$ &nbsp;</span>
          <mat-error *ngIf="developerForm.controls.price.invalid">{{getErrorMessage("price")}}</mat-error>
        </mat-form-field>
        
      </mat-list-item>
        
      <mat-list-item>

        <mat-form-field appearance="fill">
          <mat-label>Technology</mat-label>
          <mat-select formControlName="technology" required>
            <mat-option *ngFor="let t of technologies; let i = index" [value]="i">{{ t}}</mat-option>
          </mat-select>
        </mat-form-field>

        
      </mat-list-item>
        
      <mat-list-item>

        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
          <mat-error *ngIf="developerForm.controls.description.invalid">{{getErrorMessage("description")}}</mat-error>
        </mat-form-field>

        
      </mat-list-item>
        
      <mat-list-item>

        <mat-form-field appearance="fill">
          <mat-label>Native language</mat-label>
          <mat-select formControlName="language">
            <mat-option *ngFor="let l of languages; let i = index" [value]="i">{{ l}}</mat-option>
          </mat-select>
        </mat-form-field>

        
      </mat-list-item>
        
      <mat-list-item>

        <mat-form-field appearance="fill">
          <mat-label>Years of experience</mat-label>
          <input matInput formControlName="years" required>
          <mat-error *ngIf="developerForm.controls.years.invalid">{{getErrorMessage("years")}}</mat-error>
        </mat-form-field>

        
      </mat-list-item>
        
      <mat-list-item>

        <mat-form-field appearance="fill">
          <mat-label>Linked in</mat-label>
          <input matInput formControlName="linkedIn">
          <mat-error *ngIf="developerForm.controls.linkedIn.invalid">{{getErrorMessage("linkedIn")}}</mat-error>
        </mat-form-field>

      
      </mat-list-item>

    </form>

  </mat-list>

  <div mat-dialog-actions>
    <button mat-button (click)="closeDialog()" tabindex="-1">Close</button>
    <button 
      mat-flat-button color="primary"
      (click)="save()"
      [disabled]="!developerForm.valid"
      *ngIf="data.mode == 'edit' || data.mode == 'add'">Save</button>

  </div>