<div mat-dialog-content>

  <mat-list>

    <mat-list-item class="name-and-contacts">

      <img class="pfp" [src]="data.developer.pfp != '' ? data.developer.pfp : '../../../assets/no-pfp.png'">
      
      <div class="info">
        <p>{{ data.developer.name }}</p>
        <p>
          {{ data.developer.email }}
        </p>
      </div>

    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item> 

      <mat-icon aria-hidden="false" aria-label="Location">location_on</mat-icon>

      <span class="value"> {{ data.developer.location }} </span>
      
    </mat-list-item>

    <mat-list-item>
      <mat-icon aria-hidden="false" aria-label="Phone">phone</mat-icon>

      <span class="value"> {{ data.developer.phone }} </span>
    </mat-list-item>

    <mat-list-item> 

      <mat-icon aria-hidden="false" aria-label="Price">attach_money</mat-icon>

      <span class="value"> ${{ data.developer.price }}/h</span>
      
    </mat-list-item>

    <mat-list-item> 

      <mat-icon aria-hidden="false" aria-label="Technology">code</mat-icon>

      <span class="value"> {{ technologies[data.developer.technology] }} </span>
      
    </mat-list-item>

    <mat-list-item> 

      <mat-icon aria-hidden="false" aria-label="Native language">language</mat-icon>

      <span class="value"> {{ languages[data.developer.native_lang] }} </span>
      
    </mat-list-item>

  </mat-list>

  <div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Close</button>
    <button 
      mat-button cdkFocusInitial
      mat-dialog-close="save" 
      *ngIf="data.mode == 'edit'">Save changes</button>
  </div>